
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Ajustes de responsividade para o react-datepicker */
.react-datepicker-wrapper {
  width: 100%;
  display: block !important;
}

.react-datepicker__input-container {
  width: 100%;
  display: block !important;
}

.react-datepicker__input-container input {
  width: 100% !important;
  box-sizing: border-box;
}

/* Para telas pequenas */
@media (max-width: 640px) {
  .react-datepicker {
    font-size: 12px !important;
  }
  
  .react-datepicker__month-container {
    width: 100% !important;
  }
  
  .react-datepicker__day {
    width: 2rem !important;
    line-height: 2rem !important;
  }
}
